---

---

<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MTLSTEAKHOUSE</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNavDropdown"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Menus
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Lunch</a></li>
              <li><a class="dropdown-item" href="#">Dinner</a></li>
              <li><a class="dropdown-item" href="#">Group</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">514-558-7884</a>
          </li>
          <li class="nav-item">
            <a class="nav-link menu-button" href="#">Order Online</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: var(--trans);
  }

  header .nav-link,
  header .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--poppins);
    letter-spacing: 0.5px;
    padding: 10px 35px;
  }

  header .menu-button {
    background: var(--accent-color);
  }

  header.scrolled {
    background: #0e0e0e;
  }

  .navbar-nav .dropdown-menu {
    border-radius: 0;
    background: var(--accent-color);
    color: #fff;
    padding: 0;
    border: none;
  }

  .navbar-nav .dropdown-menu a {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--poppins);
    transition: var(--trans);
    padding: 12px 7px;
    text-align: center;
  }

  .navbar-nav .dropdown-menu a:hover {
    background: #000;
  }
</style>

<script>
  let lastScrollTop;
  const navbar = document.querySelector("header");

  window.addEventListener("scroll", function () {
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (scrollTop > lastScrollTop) {
      navbar.classList.remove("scrolled");
      navbar.style.top = "-80px";
    } else {
      navbar.style.top = "0";
      navbar.classList.add("scrolled");
    }

    lastScrollTop = scrollTop;
  });
</script>
