---
export interface Props {
  icon: string;
  url: string;
}

const { icon, url } = Astro.props;
---

<li>
  <a href={url}><i class={icon}></i></a>
</li>

<style>
  a i {
    margin-right: 8px;
  }
</style>
