---
import { Icon } from "astro-icon";
export interface Props {
  icon: string;
  url: string;
}

const { icon, url } = Astro.props;
---

<li>
  <a href={url}><Icon pack="mdi" name={icon} /></a>
</li>

<style>
  a svg {
    margin-right: 20px;
    width: 30px;
  }

  li {
    display: inline-block;
  }
</style>
