---
import "bootstrap/dist/css/bootstrap.min.css";
import "@fontsource-variable/lora";
import "@fontsource/bebas-neue";
import "@fontsource/nothing-you-could-do";
import "@fontsource/poppins";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "aos/dist/aos.css";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --title-font: "Bebas Neue", sans-serif;
    --body-font: "Lora Variable", sans-serif;
    --cursive: "Nothing You Could Do", sans-serif;
    --poppins: "Poppins", sans-serif;
    --trans: 0.4s all ease;
    --accent-color: #2a3234;
  }

  body {
    background: #0e0e0e;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-family: var(--body-font);
    overflow-x: hidden;
  }

  .flush {
    padding: 0 !important;
  }

  p {
    font-family: var(--body-font);
    line-height: 1.7;
  }

  .before {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .before::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .bigger-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
  }

  .inner-padd {
    padding: 80px 0;
  }

  .default {
    display: inline-block;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    font-family: var(--poppins);
    transition: var(--trans);
  }

  .default:hover {
    background: var(--accent-color);
    border-color: var(--accent-color);
    transform: scale(1.1);
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .mr-25 {
    margin-right: 25px;
  }

  .btn-wrapper {
    margin-top: 30px;
  }

  ul.nolist {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .floating {
    position: absolute;
    right: 0;
    top: 50%;
    right: 18%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    border-color: var(--accent-color);
  }

  .floating:hover {
    transform: translateY(-50%) scale(1.1);
  }

  .default.black-hover:hover {
    background: #000;
    border-color: #000;
  }

  .default.black {
    background: var(--accent-color);
    border-color: var(--accent-color);
  }

  .white-bg {
    background: #fff;
    color: #000;
  }
</style>

<script>
  import AOS from "aos";
  import "bootstrap/dist/js/bootstrap.bundle.min.js";

  AOS.init({
    disable: "mobile",
  });
</script>
